.gallery {
    @include pad();
    &__heading {
        text-align: center;
    }
    &__info {
        text-align: center;
        @include media($medium-screen-up) {
            text-align: left;
        }
        @include media($large-screen-up) {
            text-align: left;
        }
    }
    &__poster {
        @include span-columns(6 of 12);
        @include omega(2n);
        margin-bottom: 0.5em;
        @include media($medium-screen-up) {
            @include omega-reset(2n);
            @include span-columns(3 of 12);
            @include omega(4n);
        }
        @include media($large-screen-up) {
            @include omega-reset(4n);
            @include span-columns(2 of 12);
            @include omega(6n);
        }
        &--small {
            @include span-columns(6 of 12);
            @include omega(2n);
            margin-bottom: 0.5em;
            @include media($medium-screen-up) {
                @include omega-reset(2n);
                @include span-columns(4 of 12);
                @include omega(3n);
            }
            @include media($large-screen-up) {
                @include omega-reset(3n);
                @include span-columns(2 of 12);
                @include omega(6n);
            }
        }
    }
    &__image {
        width: 100%;
        &--small {
            display: none;
            @include media($medium-screen-up) {
                display: block;
                width: 100%;

            }
            @include media($large-screen-up) {
                display: block;
                width: 100%;
                }
            }
        }

}
.id_captcha{
    display: none;
}
