.rating{
    cursor: pointer;
    color: $third-background-color;
    &__btn{
        float: left;
        margin-right: .1em;
    }
    &__btn--active{
        color: $chery;
    }
    &__btn--hover{
        color: $chery;
    }
}
