.rating{
    cursor: pointer;
    &__btn{
        float: left;
        margin-right: .1em;
        transition: font-size 0.5s;
        &:hover{
            font-size: 1.2em;
        }
    }
    &__btn--active{
        color: $chery;
    }
    &__btn--hover{
        color: $chery;
    }
}
