            <footer>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="help.html">Help</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>

                <div>
                    <small>
                        Tellylog uses the TMDb API but is not endorsed or certified by TMDb.
                    </small>
                </div>
            </footer>
            <script type="text/javascript" src="javascript/main.js"></script>
        </div>
    </body>
</html>
