<div class="wrapper">
    <header class="header">
        <div class="row">
            <div id="logo" class="header__logo">
                <a href="index.html">Tellylog</a>
            </div>
            <div id="nav-toggle" class="header__navtoggle">
                <a class="js-menu-trigger sliding-panel-button">
                    <i class="fa fa-bars fa-lg"></i>
                </a>
            </div>
            <div class="header__searchbar">
                <form method="get" action="search.html" class="searchbar" role="search">
                    <div class="searchbar__field">
                        <input type="search" placeholder="Enter Search" />
                    </div>
                    <div class="searchbar__submit">
                        <button type="submit" class="searchbar__submit">
                            <i class="fa fa-search fa-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <nav class="js-menu sliding-panel-content">
            <ul>
                <li><a href="overview.html">Overview</a></li>
                <li><a href="watchlog.html">Watchlog</a></li>
                <li><a href="watchlist.html">Watchlist</a></li>
                <li><a href="achivements.html">Achivements</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>

        <div class="js-menu-screen sliding-panel-fade-screen"></div>
    </header>

