<header>
    <div class="row">
        <div id="logo">
            Tellylog
        </div>
        <div id="nav-toggle">
            <a class="js-menu-trigger sliding-panel-button">
                <i class="fa fa-bars fa-lg"></i>
            </a>
        </div>
        <div id="searchbar">
            <form class="search-bar" role="search">
                <input type="search" placeholder="Enter Search" />
                <button type="submit">
                    <i class="fa fa-search fa-lg"></i>
                </button>
            </form>
        </div>
    </div>
    <nav class="js-menu sliding-panel-content">
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Watchlog</a></li>
            <li><a href="#">Watchlist</a></li>
            <li><a href="#">Achivements</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>

    <div class="js-menu-screen sliding-panel-fade-screen"></div>
</header>
<div class="wrapper">
