header{
    @include outer-container();
    @include media($medium-screen-up){
        @include outer-container($max-width);

    }
    .row{
        @include pad(1%);
    }
    #logo{
        @include span-columns(2 of 4);
        margin-top: 0.3em;
        @include media($medium-screen-up){
            @include span-columns(4 of 12);
            font-size: 2em;
        }
        font-size: 2em;
    }
    #nav-toggle .sliding-panel-button{
        @include span-columns(2 of 4);
        @include omega();
        @include media($medium-screen-up){
            @include span-columns(2 of 12);
            @include shift(6 of 12);
            @include omega();
            font-size: 2em;
        }
        text-align: right;
        font-size: 2em;
    }

    #searchbar {

        $search-bar-border-color: $base-border-color;
        $search-bar-border: 1px solid $search-bar-border-color;
        @include span-columns(6 of 8);
        @include shift(1 of 8);
        @include media($medium-screen-up){
            @include span-columns(4 of 12);
            @include shift(-7 of 18);
            margin-top: 1em;

        }
        position: relative;

        input[type=search] {
            @include appearance(none);
            @include transition(border-color);
            border: 1px solid $base-border-color;
            border-radius: 0;
            box-sizing: border-box;
            display: block;
            font-size: 1em;
            margin: 0;
            position: relative;
            width: 100%;
            color: $secondary-background-color;
            font-weight: 600;
            background-color: $base-font-color;
        }

        button[type=submit] {
            @include position(absolute, 0em 0em 0em null);
            outline: none;
            border-radius: 0;
            @include pad();
        }
    }
}
