body{
    background-color: $base-background-color;
}
.wrapper{
    @include outer-container(100%);
    @include media($medium-screen-up){
        @include outer-container($max-width);
    }

    footer{
        @include row();
        height: 3em;
        background-color: $secondary-background-color;
        div{
            @include span-columns(4 of 12);
            text-align: center;
        }
    }
}
.row{
    @include row();
}

