.row{
   .panel{
        @include fill-parent();
        @include pad();
        @include media($medium-screen-up){
            @include span-columns(4 of 12, $display: table);
        }

        background-color: $secondary-background-color;
        text-align: center;
        i{
            font-size: 5em;
            display: block;
            margin-bottom: 0.4em;
        }

    }
    .light{
            background-color: $third-background-color;
        }
}

