.result-list{
    @include span-columns(12 of 12);
    @include pad();
}

.result{
    &__image{
        @include span-columns(3 of 12);
    }
    &__text{
        @include span-columns(9 of 12);
    }
    &__heading{
        font-size: 1.3em;
        margin-bottom: 0.2em;
    }
    &__subheading{
        font-size: 1em;
        font-style: italic;
    }
    &__description{
        font-size: .9em;
    }
}
