<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searchresults</title>
</head>
<body>
    {{ query }}
    {% if  task_id %}
        {{ task_id }}
    {% endif %}

    {% if object_list %}
        <ul>
            {% for series in object_list %}
                <li><a href="{{ series.object.get_absolute_url }}">{{ series.object.name }}</a></li>
            {% endfor %}
        </ul>

    {% endif %}
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
</body>
</html>
