            <div class="row">
                <footer class="footer">
                    <ul class="footer__linklist">
                        <li class="footer__linkitem"><a class="footer__link" href="{% url 'main:about' %}">About</a></li>
                        <li class="footer__linkitem"><a class="footer__link" href="{% url 'main:dummy' %}">Help</a></li>
                        <li class="footer__linkitem"><a class="footer__link" href="{% url 'main:dummy' %}">Contact</a></li>
                    </ul>

                    <div class="footer__info">
                            Tellylog uses the TMDb API but is not endorsed or certified by TMDb.
                    </div>
                </footer>
            </div>
            {% load staticfiles %}
            <script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
        </div>
    </body>
</html>
