            </div>
                <footer class="footer">
                    <ul class="footer__linklist">
                        <li class="footer__linkitem"><a class="footer__link" href="{% url 'main:about' %}">About</a></li>
                        <li class="footer__linkitem"><a class="footer__link" href="{% url 'main:help' %}">Help</a></li>
                        <li class="footer__linkitem"><a class="footer__link" href="{% url 'main:contact' %}">Contact</a></li>
                    </ul>

                        <div class="footer__info">
                                Tellylog uses the TMDb API but is not endorsed or certified by TMDb.
                        </div>
                    </div>
                </footer>
            {% load staticfiles %}
        </div>
    </body>
</html>
