            <div class="row">
                <footer class="footer">
                    <ul class="footer__linklist">
                        <li class="footer__linkitem"><a class="footer__link" href="about.html">About</a></li>
                        <li class="footer__linkitem"><a class="footer__link" href="help.html">Help</a></li>
                        <li class="footer__linkitem"><a class="footer__link" href="contact.html">Contact</a></li>
                    </ul>

                    <div class="footer__info">
                            Tellylog uses the TMDb API but is not endorsed or certified by TMDb.
                    </div>
                </footer>
            </div>
            <script type="text/javascript" src="javascript/main.js"></script>
        </div>
    </body>
</html>
