.single-page{
    @include pad();
    &__heading{
        font-size: 1.4em;
        margin-bottom: .2em;
    }
    &__subheading{
        font-size: 1.1em;
        font-style: italic;
        color: $chery;
    }
    &__meta{
        @include span-columns(8 of 12);
        @include media($medium-screen-up){
            @include shift(4 of 12);
        }
        @include media($large-screen-up){
            @include shift(3 of 12);
            @include span-columns(9 of 12);
        }

    }
    &__controls{
        font-size: 3em;
    }
    &__img{
        width: 100%;
    }
    &__poster{
        @include span-columns(4 of 12);
        @include omega();
        @include media($medium-screen-up){
            @include shift(-12 of 12);
            @include span-columns(4 of 12);
        }
        @include media($large-screen-up){
            @include shift(-12 of 12);
            @include span-columns(3 of 12);
        }

    }
    &__overview{
        @include span-columns(12 of 12);
        @include omega();
        @include pad();
        @include media($medium-screen-up){
            @include span-columns(8 of 12);
        }
        @include media($large-screen-up){
            @include span-columns(9 of 12);
            @include omega();
        }
        background-color: $bluegrey;
    }
    &__list{
        @include span-columns(12 of 12);
    }
    &__entry{
        @include span-columns(12 of 12);
        @include pad(2%);
        background-color: $bluegrey;
        margin-bottom: 0.3em;
        &__link{
            @include span-columns(6 of 12);
            text-align: left;
            font-weight: bold;
            color: $base-font-color;

        }
        &__link:hover{
            color: $light-chery;
        }
        &__btn{
            @include span-columns(6 of 12);
            text-align: right;
            font-size: 1.5em;
        }
    }

}
