.about-text{
    @include span-columns(12 of 12);
    @include pad();

    &__heading{

    }
    &__twat{
        font-weight: bold;
        color: #D90429;
    }
    &__list{
        &__point{
        list-style-type: circle;
        margin-left: 20px;

        }
    }

}
