{% extends "layout/base.html" %}
{% load staticfiles %}
{% block title %}
    {{ block.super }} - Password Reset
{% endblock title %}
{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
            <strong>You are already signed in!</strong>
            <a href="{% url 'user:logout' %}">Logout</a>
        {% else %}
            <p>
                Please enter your email here:
            </p>
            <form class="sign-up" method="post" action="{% url 'user:pwforget' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="sign-up__fields">
                    {{ form }}
                </div>
                <div class="sign-up__submit">
                    <button type="submit">Send</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
