{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}" />
<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
    </head>

    <body>
        <h1>Register with tellylog</h1>

        {% if registered %}
        tellylog says: <strong>thank you for signing up!</strong>
        {% else %}
        tellylog says: <strong>sign up here!</strong><br />

        <form id="user_form" method="post" action="{% url 'user:sign_up' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Sign Up" />
        </form>
        {% endif %}
    </body>
</html>
