{% include "main/partials/head.html" %}
{% include "main/partials/header.html" %}

{% if user.is_authenticated %}
    You are already signed in!
    <a href="{% url 'user:logout' %}">Logout</a>
{% else %}
    <form id="user_form" method="post" action="{% url 'user:sign_up' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="sign-in__input--signup">

            {{ user_form }}

        </div>
        <div class="sign-in__submit">
            <button type="submit">Sign up</button>  
        </div>

    </form>
{% endif %}

{% include "main/partials/footer.html" %}
