<!--
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}" />
<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
    </head>

    <body>
        <h1>Register with tellylog</h1>
        {% if user.is_authenticated %}
            You are already signed in!
            <a href="{% url 'user:logout' %}">Logout</a>
        {% else %}
            tellylog says: sign up here!<br>
            <form id="user_form" method="post" action="{% url 'user:sign_up' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                <input type="submit" name="submit" value="Sign Up"/>
            </form>
        {% endif %}

    </body>
</html>
-->
<!--=include partials/head.html -->
{% include "main/partials/head.html" %}
<!--=include partials/header.html -->
{% include "main/partials/header.html" %}

{% if user.is_authenticated %}
    You are already signed in!
    <a href="{% url 'user:logout' %}">Logout</a>
{% else %}
    <form id="user_form" method="post" action="{% url 'user:sign_up' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %}
            {{ field.label_tag }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Sign Up"/>
    </form>
{% endif %}


<!--=include partials/footer.html -->
{% include "main/partials/footer.html" %}
