{% extends "layout/base.html" %}
{% load staticfiles %}
{% block title %}
    {{ block.super }} - Sign In
{% endblock title %}
{% block content %}
    <div class="row">
        <h1 class="text-center">Sign In</h1>
        {% if user.is_authenticated %}
            You are already signed in.
            Back to <a href="{% url 'main:overview' %}">Overview</a>.
        {% else %}
            <div class="row">
                <form action="{% url 'user:sign_in' %}" method="post" class="sign-in" id="sign-in">
                    {% csrf_token %}
                    <label class="sign-in__label" for="username">Username</label>
                    <div class="sign-in__input">
                        <input type="text" name="username" id="username">
                    </div>
                    <label class="sign-in__label" for="password">Password <a href="{% url 'user:password_reset' %}">(forgot Password?)</a></label>
                    <div class="sign-in__input">
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="sign-in__submit">
                        <button type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
