{% load staticfiles %}
{% include "main/partials/head.html" %}
{% include "main/partials/header.html" %}
<div class="sign-in">
{% if user.is_authenticated %}
    <strong>You are already signed in!</strong>
    <a href="{% url 'user:logout' %}">Logout</a>
{% else %}
    <p>
        Please enter your email here:
    </p>

        <div class="sign-up__fields">
            <form action="" method="post">
                {% csrf_token %}
             {{ form.email.errors }}
            <p><label for="id_email">E-mail address:</label> {{ form.email }}</p>

        <div class="sign-up__submit">
            <button type="submit">Send</button>
        </div>
            </form>
        </div>

{% endif %}
</div>
<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
{% include "main/partials/footer.html" %}
