// Typography
$base-font-family: $roboto , sans-serif;
$heading-font-family: $roboto , sans-serif;

// Font Sizes
$base-font-size: 1em;
$heading-font-size: 1.5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Footer
$footer-height: 90px;


// Colors
$dark-bluegrey: #2b2d42;
$bluegrey: lighten($dark-bluegrey,10);
$light-bluegrey: #8d99ae;
$nearly-white: #edf2f4;
$light-chery: #ef233c;
$chery: #d90429;
$greyish: darken($nearly-white, 20);
$green: #cbe86b;

// Font Colors
$base-font-color: $nearly-white;
$heading-font-color: $nearly-white;
$action-color: $light-chery;

// Border
$base-border-color: $chery;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $dark-bluegrey;
$secondary-background-color: $light-bluegrey;
$third-background-color: $bluegrey;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
