* {
    margin: 0;
}
html, body{
    height: 100%;
    background-color: $base-background-color;
}
.wrapper{
    @include outer-container(100%);
    @include media($medium-screen-up){
        @include outer-container($max-width);

    }
    height: 100%;
}
.page{
    //background-color: orange;
    min-height: 100%;
    margin-bottom: -$footer-height;
}
.page:after{
    content: "";
    display: block;
    height: $footer-height;
}
.row{
    @include row();
}

.light{
    background-color: $secondary-background-color;
}

.semilight{
    background-color: $third-background-color;
}
.text-center{
    text-align: center;
}

