<!DOCTYPE html>
<html>

	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>index</title>
	</head>
	<body>
            <div id="header">
                <h1>tellylog</h1>
                <h2>Index page</h2>
            </div>
            <div id="navigation">
                <ul>
                    <li><a href="{% url 'main:about' %}">About</a></li>
					<li><a href="{% url 'main:overview' %}">Overview</a></li>
                    <li><a href="{% url 'main:sign_in' %}">Sign in</a></li>
                    <li><a href="{% url 'user:sign_up' %}">Sign up</a></li>
                </ul>
            </div>
			{% csrf_token %}
			{% for field in form %}
				{{ form.as_p }}
			{% endfor %}

			<!--
			<div id="login">
				<input type="text" name="username" id="username" placeholder="Username"><br>
				<input type="text" name="password" id="password" placeholder="Password"><br>
				<input type="submit" name="submit" value="Sign In" id="SignIn">
				<input type="button" name="register" value="Sign Up" id="SignUp">
			</div>
			-->
	</body>
</html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}" />
