<!--=include partials/head.html -->
{% include "main/partials/head.html" %}
<!--=include partials/header.html -->
{% include "main/partials/header.html" %}
<div class="row">

    <div class="about">
        <div class="about__panel">
            <i class="about__icon fa fa-calendar-check-o"></i>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="about__panel about__panel--light">
            <i class="about__icon fa fa-list-alt"></i>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="about__panel">
            <i class="about__icon fa fa-trophy"></i>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    </div>
</div>
{% if not user.is_authenticated %}
<div class="row">
    <form action="{% url 'user:sign_in' %}" method="post" class="sign-in" id="sign-in">
        {% csrf_token %}
        <h2 class="text-center">Sign in</h2>
        <label class="sign-in__label" for="username">Username</label>
        <div class="sign-in__input">
            <input type="text" name="username" id="username">
        </div>
        <label class="sign-in__label" for="password">Password</label>
        <div class="sign-in__input">
            <input type="password" name="password" id="password">
        </div>
        <div class="sign-in__submit">
            <button type="submit">Sign in</button>
        </div>
    </form>
</div>
{% endif %}
{% load staticfiles %}
<div class="row semilight">
    <div class="gallery">
        <h2 class="gallery__heading">Trending</h2>

        <div class="gallery__wrapper">
            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>

            <div class="gallery__poster">
                <img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt="">
            </div>
        </div>

    </div>
</div>

<!--=include partials/footer.html -->
{% include "main/partials/footer.html" %}
