<!--=include partials/head.html -->
{% include "main/partials/head.html" %}
<!--=include partials/header.html -->
{% include "main/partials/header.html" %}
{% load staticfiles %}
<div class="row">
    <div class="gallery">
        <h2 class="gallery__heading"><a href="watchlog.html">Watchlog</a></h2>
        <p class="gallery__info">Your latest Watchlog entries:</p>
        <div class="gallery__wrapper">

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image gallery__image--small" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image gallery__image--small" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row semilight">
    <div class="gallery">
        <h2 class="gallery__heading"><a href="watchlist.html">Watchlist</a></h2>
        <p class="gallery__info">Your latest Watchlist entries:</p>
        <div class="gallery__wrapper">
            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image gallery__image--small" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>

            <div class="gallery__poster--small">
                <a href=""><img class="gallery__image gallery__image--small" src="{% static 'img/placeholder.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
</div>

<!--=include partials/footer.html -->
{% include "main/partials/footer.html" %}
