{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css.css' %}" />

<!DOCTYPE html>
<html>


	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	</head>
	<body>
	<title>about</title>
	{% if registered %}
	tellylog says: <strong>thank you for signing up!</strong>
	{% else %}
	tellylog says: <strong>sign up here!</strong><br />

	<form id="user_form" method="post" action="/user/about/"
			enctype="multipart/form-data">

		{% csrf_token %}

		{{ form.as_p }}

		<input type="submit" name="submit" value="Sign Up" />
	</form>
	{% endif %}
		<a href="{% url 'main:index' %}">Back to main</a>
	</body>
</html>
