{% load staticfiles %}
{% load dictionary_extras %}
{% include "main/partials/head.html" %}
{% include "main/partials/header.html" %}
<body>
    <div class="single-page">
        <div class="row header">
            <div class="single-page__meta">
                <h1 class="single-page__heading">
                {{ series.name }}
                {% if series.first_air_date %}
                    ({{ series.first_air_date.year }})
                {% endif %}
                </h1>
                <h2 class="single-page__subheading">
                    {{ season.name }}
                </h2>
                <div class="single-page__controls">
                    {% if wlog and wlog == season.episode_count %}
                        <span class=" log-btn log-btn--season log-btn--logged" title="Unlog the whole season" data-id="{{ season.id }}" data-kind="season">
                            <i class="fa fa-eye" ></i>
                        </span>
                    {% else %}
                        <span class=" log-btn log-btn--season log-btn--unlogged" title="Log the whole season" data-id="{{ season.id }}" data-kind="season">
                            <i class="fa fa-eye-slash" ></i>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="single-page__poster">
            {% if season.poster_small %}
                <img src="{{ season.poster_small.url }}" srcset="{{ season.poster_large.url }} 600w" alt="{{ season.name }} Poster" class="single-page__img">
            {% else %}
                <img src="{% static "img/placeholder-small.jpg" %}" srcset="{% static "img/placeholder.jpg" %} 600w" alt="{{ series.name }} Poster Placeholder" class="single-page__img">
            {% endif %}
            </div>

        </div>
        <div class="row">
            <ul class="single-page__list">
            {% for episode in episodes %}
                <li class="single-page__entry">
                    <span class="single-page__entry__link">{{ episode.number }} {{ episode.name }}
                    </span>
                    <div  class="single-page__entry__btn">

                    {% if wlog_seasons and wlog_seasons|access:season.id == season.episode_count %}
                        <span class="log-btn log-btn--episode log-btn--logged" title="Unlog episode" data-kind="episode" data-id="{{ episode.id }}">
                            <i class="fa fa-eye" ></i>
                        </span>
                    {% else %}
                        <span class="log-btn log-btn--episode log-btn--unlogged" title="Log episode" data-kind="episode" data-id="{{ episode.id }}">
                            <i class="fa fa-eye-slash" ></i>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
{% include "main/partials/footer.html" %}

