{% extends "layout/base.html" %}
{% load staticfiles %}
{% load tellytags %}
{% block title %}
    {{ block.super }} - {{ series.name }} - {{ season.name }}
{% endblock title %}
{% block content %}
    <div class="single-page">
        <div class="row header">
            <div class="single-page__meta">
                <h1 class="single-page__heading">
                {{ season.name }}
                {% if season.air_date %}
                    ({{ season.air_date.year }})
                {% endif %}
                </h1>
                <h2 class="single-page__subheading">
                <a href="{{ series.get_absolute_url }}">{{ series.name }}</a>
                </h2>
                <div class="single-page__controls">
                    {% if wlog_count and wlog_count == season.episode_count %}
                        <span class=" log-btn log-btn--season log-btn--logged" title="Unlog the whole season" data-id="{{ season.id }}" data-kind="season">
                            <i class="fa fa-eye" ></i>
                        </span>
                    {% else %}
                        <span class=" log-btn log-btn--season log-btn--unlogged" title="Log the whole season" data-id="{{ season.id }}" data-kind="season">
                            <i class="fa fa-eye-slash" ></i>
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="single-page__poster">
                {% if season.poster_small %}
                    <img src="{{ season.poster_small.url }}" srcset="{{ season.poster_large.url }} 600w" alt="{{ season.name }} Poster" class="single-page__img">
                    {% elif series.poster_small %}
                    <img src="{{ series.poster_small.url }}" srcset="{{ series.poster_large.url }} 600w" alt="{{ series.name }} Poster" class="single-page__img">
                {% else %}
                    <img src="{% static "img/placeholder-small.jpg" %}" srcset="{% static "img/placeholder.jpg" %} 600w" alt="{{ series.name }} Poster Placeholder" class="single-page__img">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <ul class="single-page__list single-page__list--small">
                {% for episode, wlog_entry in episodes %}
                        <li class="single-page__entry single-page__entry--small">
                            <div class="single-page__entry__number single-page__entry__number--small">
                                {{ episode.number }}
                            </div>
                            <div class="single-page__entry__link single-page__entry__link--small">
                                {{ episode.name }}
                                {% if episode.air_date %}
                                    - {{ episode.air_date|date:"d.m.Y"}}
                                {% endif %}
                            </div>
                            {% if not episode.airs_in_future %}
                                <div class="single-page__entry__rating rating" data-id="{{ episode.id }}">
                                    {% if wlog_entry %}
                                        {% for i in 5|get_range %}
                                            <span data-rating="{{ i }}" class="rating__btn fa {% fill_rating i wlog_entry.rating %}"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div  class="single-page__entry__btn single-page__entry__btn--small">
                                    {% if wlog_entry %}
                                        <span class="log-btn log-btn--episode log-btn--logged" title="Unlog this episode" data-kind="episode" data-id="{{ episode.id }}">
                                            <i class="fa fa-eye" ></i>
                                        </span>
                                    {% else %}
                                        <span class="log-btn log-btn--episode log-btn--unlogged" title="Log this episode" data-kind="episode" data-id="{{ episode.id }}">
                                        <i class="fa fa-eye-slash" ></i></span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>

                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block customjs %}
    <script type="text/javascript">
    window.Telly = window.Telly || {};
    window.Telly.series_id = {{ series.id }}
    window.Telly.wlog_log_url = "{{ wlog_log_url }}"
    window.Telly.wlog_unlog_url = "{{ wlog_unlog_url }}"
    window.Telly.wlog_rate_url = "{{ wlog_rate_url }}"
    </script>
{% endblock customjs %}
