{% load staticfiles %}
{% load dictionary_extras %}
{% include "main/partials/head.html" %}
{% include "main/partials/header.html" %}
<body>
    <div class="single-page">
        <div class="row">
            <div class="single-page__controls">
                <h1 class="single-page__heading">
                {{ series.name }}
                {% if series.first_air_date %}
                    ({{ series.first_air_date.year }})
                {% endif %}
                </h1>
                <h2 class="single-page__subheading">
                    {% for genre in genre_list %}
                        {{ genre.name }}
                    {% endfor %}
                </h2>
                <div class="single-page__controls__btn">
                    {% if wlog and wlog == series.number_of_episodes %}
                        <span id="log-series" class="log-btn log-btn--logged" data-id="{{ series.id }}" data-kind="series">
                            <i class="fa fa-calendar-check-o" ></i>
                        </span>
                    {% else %}
                        <span class="log-btn log-btn--unlogged" data-id="{{ series.id }}" data-kind="series">
                            <i class="fa fa-calendar-o" ></i>
                        </span>
                    {% endif %}

                </div>
            </div>
            <div class="single-page__poster">
            {% if series.poster_small %}
                <img src="{{ series.poster_small.url }}" srcset="{{ series.poster_large.url }} 600w" alt="{{ series.name }} Poster" class="single-page__img">
            {% else %}
                <img src="{% static "img/placeholder-small.jpg" %}" srcset="{% static "img/placeholder.jpg" %} 600w" alt="{{ series.name }} Poster Placeholder" class="single-page__img">
            {% endif %}
            </div>
            <p class="single-page__overview">{{ series.overview }}</p>
        </div>
        <div class="row">
            <ul class="single-page__list">
            {% for season in seasons %}
                <li class="single-page__entry">
                    <a href="{{ season.get_absolute_url }}" class="single-page__entry__link">Season {{ season.number }}</a>
                    <div  class="single-page__entry__btn">

                    {% if wlog_seasons and wlog_seasons|access:season.id == season.episode_count %}
                        <span class="log-btn log-btn--logged" data-kind="season" data-id="{{ season.id }}">
                            <i class="fa fa-calendar-check-o" ></i>
                        </span>
                    {% else %}
                        <span class="log-btn log-btn--unlogged" data-kind="season" data-id="{{ season.id }}">
                            <i class="fa fa-calendar-o" ></i>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
<script type="text/javascript">
    window.Telly = {};
    window.Telly.wlog_log_url = "{{ wlog_log_url }}"
    window.Telly.wlog_unlog_url = "{{ wlog_unlog_url }}"
</script>
<script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
{% include "main/partials/footer.html" %}
