{% extends "layout/base.html" %}
{% load staticfiles %}
{% load tellytags %}
{% block title %}
    {{ block.super }} - {{ series.name }}
{% endblock title %}
{% block content %}
    <div class="single-page">
        <div class="row header">
            <div class="single-page__meta">
                <h1 class="single-page__heading">
                {{ series.name }}
                {% if series.first_air_date %}
                    ({{ series.first_air_date.year }})
                {% endif %}
                </h1>
                <h2 class="single-page__subheading">
                {% for genre in genre_list %}
                    {{ genre.name }}{% if forloop.last %}{% else %}, {% endif %}
                {% endfor %}
                </h2>
                {% if avg_rating %}
                    <div class="single-page__rating">
                        {% for i in 5|get_range %}
                            <span class="fa {% fill_avg_rating i avg_rating %}"></span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="single-page__controls">
                    {% if wlog_count and wlog_count == series.number_of_episodes %}
                        <span class=" log-btn log-btn--series log-btn--logged" title="Unlog the whole series" data-id="{{ series.id }}" data-kind="series">
                            <i class="fa fa-eye" ></i>
                        </span>
                    {% else %}
                        <span class=" log-btn log-btn--series log-btn--unlogged" title="Log the whole series" data-id="{{ series.id }}" data-kind="series">
                            <i class="fa fa-eye-slash" ></i>
                        </span>
                    {% endif %}
                    {% if wlog_count == 0 %}
                        {% if wlist %}
                            <span class="list-btn list-btn--listed" title="Remove from list" data-id="{{ series.id }}">
                                <i class="fa fa-bookmark" ></i>
                            </span>
                        {% else %}
                            <span class="list-btn list-btn--unlisted" title="Add to list" data-id="{{ series.id }}">
                                <i class="fa fa-bookmark-o" ></i>
                            </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="single-page__poster">
                {% if series.poster_small %}
                    <img src="{{ series.poster_small.url }}" srcset="{{ series.poster_large.url }} 600w" alt="{{ series.name }} Poster" class="single-page__img">
                {% else %}
                    <img src="{% static "img/placeholder-small.jpg" %}" srcset="{% static "img/placeholder.jpg" %} 600w" alt="{{ series.name }} Poster Placeholder" class="single-page__img">
                {% endif %}
            </div>
            <p class="single-page__overview">
                {{ series.overview }}
            </p>
        </div>
        <div class="row">
            <ul class="single-page__list">
                {% for season, wlog_entry in seasons %}
                    <li class="single-page__entry">
                        <a href="{{ season.get_absolute_url }}" class="single-page__entry__link">Season {{ season.number }}
                            {% if season.air_date %}
                                ({{ season.air_date.year }})
                            {% endif %}
                        </a>
                        {% if not season.airs_in_future %}
                            <div  class="single-page__entry__btn">
                                {% if wlog_entry and wlog_entry.wlog_count == season.episode_count %}
                                    <span class="log-btn log-btn--season log-btn--logged" title="Unlog the whole season" data-kind="season" data-id="{{ season.id }}">
                                        <i class="fa fa-eye" ></i>
                                    </span>
                                {% else %}
                                    <span class="log-btn log-btn--season log-btn--unlogged" title="Log the whole season" data-kind="season" data-id="{{ season.id }}">
                                        <i class="fa fa-eye-slash" ></i>
                                    </span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block customjs %}
    <script type="text/javascript">
    window.Telly = {};
    window.Telly.series_id = {{ series_id }}
    window.Telly.wlog_log_url = "{{ wlog_log_url }}"
    window.Telly.wlog_unlog_url = "{{ wlog_unlog_url }}"
    window.Telly.wlist_list_url = "{{ wlist_list_url }}"
    window.Telly.wlist_unlist_url = "{{ wlist_unlist_url }}"
    window.Telly.wlog_calc_rating_url= "{{ wlog_calc_rating_url }}"
    {% if wlist %}
        window.Telly.on_wlist = true
    {% else %}
        window.Telly.on_wlist = false
    {% endif %}
    </script>
{% endblock customjs %}
